h2 {
  text-align: center;
  padding: 30px;
}

p {
  text-align: center;
}

.about {
  text-align: center;
  font-size: 18px;
}

.card {
  border: 1px solid #d3d3d3;
  margin: 5px;
  padding: 0px;
  line-height: 23px;
}
