.jumbotron {
  background-image: url("/img/stockimg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  min-height: 500px;
  overflow: auto;
}

#searchbar {
  width: 40%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 20px;
}

.card-img {
  padding: 5px;
}

.col {
  margin: 5px;
}

#mainText {
  margin-top: 100px;
}

#mainText h1 {
  font-size: 5rem;
}

.instance-table td {
  width: 50%;
  padding: 10px;
}

.instance-table-index td {
  width: 25vw;
  padding: 10px;
}